streamlit
openai
psutil
requests
python-dotenv
pytz
PyMuPDF
python-docx
streamlit-autorefresh
easyocr
Pillow
numpy
sentence-transformers
tokenizers
semantic-text-splitter
elasticsearch
streamlit-authenticator
pyyaml
